<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Phishing URL Detection (Demo)</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
<div class="container">
    
    <h1>Phishing URL Detection (Demo)</h1>

    <form method="POST">
        <input
            type="text"
            name="url"
            placeholder="Enter URL"
            value="{{ url if url else '' }}"
            required
        >
        <br><br>
        <button type="submit" class="primary">Check URL</button>
        <button type="reset" class="secondary" onclick="window.location.href='/check'">Reload Page</button>

        <label>
            <input type="radio" name="mode" value="rule" checked>
            Rule-Based Detection (Default)
        </label>
        
        <br>
        
        <label>
            <input type="radio" name="mode" value="ml">ML-Based Detection (Experimental)
        </label>
<br><br>

    </form>

   {% if result %}
<div class="result {{ 'phishing' if result == 'Phishing' else 'legitimate' }}">
    Result: {{ result }}
</div>
{% endif %}


    <div class="note">
    This interface is for academic demonstration only.
    </div>
</div>
</body>
</html>
